# lib directory
lib/
build*/
output*/

# Prerequisites
*.d

# Media file
*.mp4
*.flv
*.mov
*.ts
*.m3u8

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coverage file
*.gcov
*.gcno
*.gcda
*.prof

